html {
  background: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.my-header {
  background-color: #ef476f;
}

.paragrapf-styling {
  margin: 0;
  cursor: pointer;
  font-size: 20px;
}

.add {
  background: #118ab2;
}

.removeAll {
  background: #118ab2;
}
